/* index */

/*responsive/compatible boilerplate from Jayden Seric @ http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation*/
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, p, blockquote, figure, ol, ul {
    margin: 0;
    padding: 0;
}
main,
li {
    display: block;
}
h1, h2, h3, h4 {
    font-size: inherit;
}
strong {
    font-weight: bold;
}
a, button {
    color: inherit;
    transition: .3s;
}
a {
    text-decoration: none;
}
button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}
::-moz-focus-inner {
    padding: 0;
    border: 0;
}
:focus {
    outline: 0;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
body, h1 , h2, h3, h4, p, div, header, footer, section, ul, ol, li, a {
	/*my additions to the boilerplate*/
	font: inherit;
	list-style: none;
	color: black;
}
p {
  margin-bottom: 1%;
  text-align: justify;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

/*---------------------------------------------------------------------------------*/
.site {
	font-size: 62.5%; /* 1em = 10px */
	width: 100%;
	margin: 2.5% auto; /*30px*/
}

header {
	padding: 25px 0 0 0; /* 30px */
	position: relative;
  width: 90%;
  margin: 0 auto;
}

.index-head {
	font: 100 3em 'roboto', helvetica, serif;
}

hr {
	margin: 0 auto;
	border-style: solid;
	color: rgba(60,63,66,.3);
	clear: both;
}

.main {

}

.creating, .reading, .listening, .working, .learning, .playing {
	padding: 0.75% 0.75%;
	text-align: center;
	margin: 0 auto;
}

.creating a, .reading a, .listening a, .working a, .learning a, .playing a {
	font: 4em 'lato', 'helvetica neue', serif;
	color: rgba(60,63,66,.3);
	text-transform: uppercase;
	letter-spacing: .075em;
}

footer {
	font: 100 3em 'roboto', helvetica, serif;
	padding: 0 0 2% 0; /* 30px */
	text-align: right;
	clear: both;
  width: 90%;
  margin: .25% auto;
}


/*------------------------------------------------------------------------------------*/
/*Pages Template*/
												/*Header / Nav*/
.home {
	display: inline;
	font: 100 3em 'roboto', helvetica, serif;
}
.desktop-nav {
	display: inline;
	position: absolute;
	bottom: 0;
	right: -35px;
  width: 620px;
}
.desktop-nav li {
  display: inline;
  padding-left: 5px;
}
.desktop-nav a {
  font: 100 2.5em 'roboto', helvetica, serif;
}

#current-c, #hover-c a:hover, #current-w, #current-le, #current-p {
	color: rgba(109,203,119,1);
}
#current-r, #hover-r a:hover {
  color: rgba(248,112,96,1);
}
#current-li, #hover-li a:hover {
  color: rgba(148,169,187,1);
}

nav a {
  font: 100 5em 'roboto', helvetica, serif;
  color: white;
  text-decoration: none;
}

/* --------------------------------

Mobile Nav Components

-------------------------------- */

header {
  z-index: 3;
}

.cd-nav-trigger {
  position: fixed;
  display: inline-block;
}

.cd-nav-trigger {
  top: -10%;
  right: 5%;
  height: 45px;
  width: 45px;
  z-index: 5;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@media screen and (max-width: 920px) {
  .desktop-nav {
    visibility: hidden;
    width: 2px;
    right: none;
    left: -300px;
  }
  .cd-nav-trigger {
    top: 2.25%;
  }
}
@media screen and (max-width: 768px) {
  .cd-nav-trigger {
    top: 2%;
  }
}
@media only screen
  and (max-width: 736px)
  and (orientation: landscape) {
  .cd-nav-trigger {
    top: 4%;
  }
}
.cd-nav-trigger .cd-icon {
  /* icon created in CSS */
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 3px;
  background-color: #ffffff;
  z-index: 10;
}
.cd-nav-trigger .cd-icon::before, .cd-nav-trigger .cd-icon:after {
  /* upper and lower lines of the menu icon */
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* apply transition to transform property */
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}
.cd-nav-trigger .cd-icon::before {
  -webkit-transform: translateY(-6px) rotate(0deg);
  -moz-transform: translateY(-6px) rotate(0deg);
  -ms-transform: translateY(-6px) rotate(0deg);
  -o-transform: translateY(-6px) rotate(0deg);
  transform: translateY(-6px) rotate(0deg);
}
.cd-nav-trigger .cd-icon::after {
  -webkit-transform: translateY(6px) rotate(0deg);
  -moz-transform: translateY(6px) rotate(0deg);
  -ms-transform: translateY(6px) rotate(0deg);
  -o-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg);
}
.cd-nav-trigger::before, .cd-nav-trigger::after {
  /* 2 rounded colored backgrounds for the menu icon */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}
.cd-nav-trigger::before {
  background-color: black;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.cd-nav-trigger::after {
  background-color: white;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
.cd-nav-trigger.close-nav::before {
  /* user clicks on the .cd-nav-trigger element - 1st rounded background disappears */
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.cd-nav-trigger.close-nav::after {
  /* user clicks on the .cd-nav-trigger element - 2nd rounded background appears */
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.cd-nav-trigger.close-nav .cd-icon {
  /* user clicks on the .cd-nav-trigger element - transform the icon */
  background-color: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.close-nav .cd-icon::before, .cd-nav-trigger.close-nav .cd-icon::after {
  background-color: black;
}
.cd-nav-trigger.close-nav .cd-icon::before {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.cd-nav-trigger.close-nav .cd-icon::after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

.cd-primary-nav {
  /* by default it's hidden */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 80px 5%;
  z-index: 3;
  background-color: black;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.3s;
  -moz-transition: visibility 0s, opacity 0.3s;
  transition: visibility 0s, opacity 0.3s;
}
.cd-primary-nav li {
  margin: 2em 0;
  text-align: center;
  text-transform: uppercase;
}
.cd-primary-nav a {
  font-size: 20px;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}
.no-touch .cd-primary-nav a:hover {
  color: white;
}
.cd-primary-nav.fade-in {
  /* navigation visible at the end of the circle animation */
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-primary-nav li {
    margin: 2em 0;
  }
  .cd-primary-nav a {
    font-size: 28px;
    font-size: 4rem;
  }
}
@media only screen and (min-width: 736px) {
  .cd-primary-nav a {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 736px) {
  .cd-primary-nav a {
    font-size: 2.5rem;
  }
}

.cd-overlay-nav, .cd-overlay-content {
  /* containers of the 2 main rounded backgrounds - these containers are used to position the rounded bgs behind the menu icon */
  position: fixed;
  top: 18px;
  right: 5%;
  height: 4px;
  width: 4px;
  -webkit-transform: translateX(-20px) translateY(20px);
  -moz-transform: translateX(-20px) translateY(20px);
  -ms-transform: translateX(-20px) translateY(20px);
  -o-transform: translateX(-20px) translateY(20px);
  transform: translateX(-20px) translateY(20px);
}
.cd-overlay-nav span, .cd-overlay-content span {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.cd-overlay-nav.is-hidden, .cd-overlay-content.is-hidden {
  /* background fades out at the end of the animation */
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-overlay-nav {
  /* main rounded colored bg 1 */
  z-index: 2;
}
.cd-overlay-nav span {
  background-color: black;
}

.cd-overlay-content {
  /* main rounded colored bg 2 */
  z-index: 4;
}
.cd-overlay-content span {
  background-color: white;
}

/*current link colors -----------change colors eventually!*/

/*----------------------------------CREATING CONTENT----------------------------------*/
.creating-title {
  font: 100 3.5em 'lato', helvetica, serif;
  text-transform: uppercase;
  text-align: center;
  color: rgba(109,203,119,1);
  padding: 6% 0%;
  margin: 0 2%;
  letter-spacing: .125em;
}
.creation {
  padding: 2%;
  overflow: hidden;
  text-align: center;
}
.creation-title, .creation-date {
  font: 100 3.0em 'lato', helvetica, serif;
  text-transform: uppercase;
  text-align: center;
  color: black;
  padding-top: 2%;
  letter-spacing: .125em;
}
.creation-date {
  font-size: 2em;
  padding-top: .5%;
  text-transform: none;
}
.creation-video {
  margin: 0 auto;
}

.creation-video iframe {
  box-sizing: content-box;
  content: normal;
  width: 700px;
  height: 400px;
  padding: 6% 0%;
}
.creation-text {
  width: 70%;
  margin: 0 auto;
}
.creation-text p {
  font: 100 1.8em 'roboto', helvetica, serif;
  text-align: justify;
  width: 100%;
}

#cable-holder {
  background-color: rgba(234,234,234,1);
  color: rgba(79,109,122,1);
}
.cable-holder-heading {
  font: 100 2.0em 'lato', helvetica, serif;
  padding: 2%;
  text-transform: uppercase;
}
.cable-pics {
	float: left;
	width: 100%;
	margin: 3% auto;
	text-align: center;
}
.cable-pics li {
	display: inline;
}
.cable-pics img {
	width: 30%;
	margin: 2%;
}

#beasley-vid {
  background-color: black;
  color: rgba(252,163,17,1);
}
#beasley-vid-caption {
  font: 100 1.4em 'roboto', helvetica, serif;
  text-align: center;
  color: rgba(252,163,17,1);
}
#beasley-vid-caption a {
  font-size: 1em;
}
#beasley-vid-caption a:hover {
  color: rgba(215,236,220,1);
}

#gender-vid {
  background-color: rgba(22,12,40,1);
  color: rgba(248,252,218,1);
}
#gender-vid-caption {
  font: 100 1.4em 'roboto', helvetica, serif;
  text-align: center;
  color: rgba(248,252,218,1);
}
#gender-vid-caption a {
  font-size: 1em;
}
#gender-vid-caption a:hover {
  color: rgba(0,173,239,1);
}

#mbr-logo {
  background: white;
  color: rgba(71,101,120,1);
}
#mbr-logo a {
  font-size: 1em;
  color: rgba(71,101,120,1);
}
#mbr-logo a:hover {
  color: rgba(56,167,0,1);
}

#mbr-logo-caption {
  font: 100 1.4em 'roboto', helvetica, serif;
  text-align: center;
  color: rgba(71,101,120,1);
}
#mbr-logo-caption a {
  font-size: 1em;
  color: rgba(71,101,120,1);
}
#mbr-logo-caption a:hover {
  color: rgba(56,167,0,1);
}
.mbr-pics-1 {
  margin: 3% auto;
  text-align: center;
}
.mbr-pics-1 img {
	width: 50%;
	margin: 2%;
}

.mbr-pics-2 {
	float: left;
	width: 100%;
	margin: 3% auto;
	text-align: center;
}
.mbr-pics-2 li {
	display: inline;
}
.mbr-pics-2 img {
	width: 20%;
	margin: 2%;
}

#holiday-2014-vid {
  background-color: rgba(184,255,185,1);
  color: rgba(194,1,20,1);
}
#holiday-2014-caption {
  font: 100 1.4em 'roboto', helvetica, serif;
  text-align: center;
  color: rgba(194,1,20,1);
}
#holiday-2014-caption a {
  font-size: 1em;
}
#holiday-2014-caption a:hover {
  color: rgba(248,252,218,1);
}

#sf-vid {
  background-color: rgba(236,235,237,1);
  color: rgba(191,51,49,1);
}
#sf-vid-caption {
  font: 100 1.4em 'roboto', helvetica, serif;
  text-align: center;
  color: rgba(191,51,49,1);
}
#sf-vid-caption a {
  font-size: 1em;
}
#sf-vid-caption a:hover {
  color: rgba(255,192,127,1);
}
/*----------------------------------READING CONTENT----------------------------------*/
.reading-title {
	font: 100 3.5em 'lato', helvetica, serif;
	text-transform: uppercase;
	text-align: center;
	color: rgba(248,112,96,1);
	padding: 6% 0%;
	letter-spacing: .125em;
  margin: 0 2%;
}

.btn-box {
	width: 100%;
	text-align: center;
  margin: 2% auto;
}


.btn-1, .btn-2, .btn-back, .btn-rave, .btn-playlists {
  background: rgba(255,255,255,.1);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(255,255,255,.1));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.1), rgba(255,255,255,.1));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.1), rgba(255,255,255,.1));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.1), rgba(255,255,255,.1));
  background-image: linear-gradient(to bottom, rgba(255,255,255,.1), rgba(255,255,255,.1));
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font: 300 2em 'lato', helvetica, serif;
  color: rgba(248,112,96,1);
  padding: 10px 10px;
  border: solid rgba(248,112,96,1) 4px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: all .3s;
  margin: 1%;
  display: inline-block;
  width: 225px;
}

.btn-1:hover, .btn-2:hover, .btn-back:hover, .btn-rave:hover, .btn-playlists:hover {
  background: rgba(248,112,96,1);
  text-decoration: none;
  color: rgba(255,255,255,1);
}
.btn-1:active, .btn-2:active, .btn-back:active, .btn-rave:active, .btn-playlists:active {
  background: rgba(248,112,96,1);
  text-decoration: none;
  color: rgba(255,255,255,1);
  transform: scale(1.1);
}

/*----------------------------Book List------------------------------*/

.booklist {
	float: left;
	width: 100%;
	margin: 3% auto;
	text-align: center;
}
.booklist li {
	display: inline;
}
.booklist img {
	width: 20%;
	margin: 3%;
}

.book {
	-webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.book:hover {
	-webkit-filter: grayscale(100%);
	opacity: .5;
}

/*----------------------------Book Pages------------------------------*/
.banner {
	text-align: center;
	display: block;
	position: relative;
}
.banner img {
	width: 100%;
}

.my-review-pic img, .amazon img {
	display: inline-block;
	float: left;
	width: 15%;
	margin: 0 3% 1% 0;
}

.my-review-pic, .amazon {
	display: inline-block;
	font: 100 1.8em 'roboto', helvetica, serif;
	width: 100%;

}
.my-review-pic p, .amazon p {
  padding: 0 2.5%;
}
.amazon {
	margin-bottom: 0%;
}
.amazon img {
	-webkit-filter: grayscale(100%);
	-webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.amazon img:hover {
	-webkit-filter: grayscale(0%);
}
.amazon img:active {
	transform: scale(1.1);
}


/*----------------------------------LISTENING CONTENT----------------------------------*/

.rave {
	padding: 2%;
	background-color: rgba(214,231,240,1);
	overflow: hidden;
	text-align: center;
}

.rave-title {
	font: 100 3.5em 'lato', helvetica, serif;
	text-transform: uppercase;
	text-align: center;
	color: black;
	padding: 4% 2% 6% 2%;
	letter-spacing: .125em;
}


.rave img {
	display: inline-block;
	float: left;
	width: 20%;
	margin: 0 3% 3% 0;
  -webkit-filter: grayscale(0%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.rave img:hover {
	-webkit-filter: grayscale(100%);
}
.rave img:active {
	transform: scale(1.1);
}

.rave p {
	font: 100 1.8em 'roboto', helvetica, serif;
  color: black;
	width: 100%;
}
.rave-m-icons {
  clear: left;
  overflow: hidden;
  width: 100%;
  padding: 2% 0;
}
.rave-m-icons img {
  box-sizing: content-box;
  content: normal;
  float: none;
  margin: auto;
  width: 5%;
  padding: 0 3%;
  transition: all .3s ease;
}

.rave-m-icons img:hover {
  transform: scale(1.1);
}
.rave-m-icons img:active {
  transform: scale(1.2);
}
.p-rave {
	width: 100%;
  padding: 2% 0;
}

.btn-rave {
  background: rgba(213,230,240,1);
  background-image: -webkit-linear-gradient(top, rgba(213,230,240,1), rgba(213,230,240,1));
  background-image: -moz-linear-gradient(top, rgba(213,230,240,1), rgba(213,230,240,1));
  background-image: -ms-linear-gradient(top, rgba(213,230,240,1), rgba(213,230,240,1));
  background-image: -o-linear-gradient(top, rgba(213,230,240,1), rgba(213,230,240,1));
  background-image: linear-gradient(to bottom, rgba(213,230,240,1), rgba(213,230,240,1));
	float: none;
	font: 300 1.5em 'lato', helvetica, serif;
  color: black;
  padding: 10px 10px;
  border: solid black 4px;
  margin: 0 auto;
  display: block;
  width: 200px;
}

.btn-rave:hover {
  background: black;
 	color: rgba(255,255,255,1);
}
.btn-rave:active {
  	background: black;
  	color: rgba(255,255,255,1);
}

.playlists {
	background-color: rgba(148,169,187,.75);
	overflow: hidden;
	text-align: center;
}
.playlist-title, .playlist-title-sub-1, .playlist-title-sub-2, .albums-title, .albums-title-sub {
  	font: 100 3.5em 'lato', helvetica, serif;
  	text-transform: uppercase;
  	text-align: center;
  	padding: 6% 2%;
  	letter-spacing: .125em;
    color: rgba(255,255,255,1);
}
.playlist-title-sub-1 {
    visibility: hidden;
    padding: 0;
    height: 0;
    width: 0;
    font-size: 2.5em;
}
.playlist-title-sub-2 {
  clear: both;
  font-size: 2.5em;
}

.playlist-1, .playlist-2 {
  width: 46%;
  display: inline-block;
  float: left;
}
.playlist-1 {
  padding: 0 2.75%;
}
.playlist-1 iframe, .playlist-2 iframe {
  width: 100%;
  height: 450px;
}
.more-p {
  padding: 0 0 3% 0;
}

.btn-playlists {
  background: rgba(148,169,187,.00001);
  background-image: -webkit-linear-gradient(top, rgba(148,169,187,.00001), rgba(148,169,187,.00001));
  background-image: -moz-linear-gradient(top, rgba(148,169,187,.00001), rgba(148,169,187,.00001));
  background-image: -ms-linear-gradient(top, rgba(148,169,187,.00001), rgba(148,169,187,.00001));
  background-image: -o-linear-gradient(top, rgba(148,169,187,.00001), rgba(148,169,187,.00001));
  background-image: linear-gradient(to bottom, rgba(148,169,187,.00001), rgba(148,169,187,.00001));
	float: none;
	font: 300 1.5em 'lato', helvetica, serif;
  color: rgba(255,255,255,1);
  padding: 10px 10px;
  border: solid rgba(255,255,255,1) 4px;
  margin: 0 auto;
  display: block;
  width: 200px;
}
.btn-playlists:hover {
  background: rgba(255,255,255,1);
 	color: rgba(148,169,187,.75);
}
.btn-playlists:active {
  	background: rgba(255,255,255,1);
  	color: rgba(148,169,187,.75);
}

.albums {
  background-color: rgba(60,63,66,.1);
}
.albums-title {
  color: rgba(148,169,187,.75);
}
.albums-title-sub {
  font: 100 2.5em 'lato', helvetica, serif;
  color: rgba(148,169,187,.75);
}

.scroll {
  width: 100%;
  height: auto;
  background: rgba(60,63,66,.000001);
  border: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  box-shadow: none;
}
.scroll ul {
  float:left;
  margin-right:-99999em;
  white-space: nowrap;
  list-style: none;
}
.scroll li {
  margin: 15px 0;
  text-align: center;
  float: left;
  display: inline;
  width: 400px;
}

.scroll img {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.scroll span {
  padding: 3% 0 0 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 90%;
}
.scroll img {
	-webkit-filter: grayscale(0%);
	-webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.scroll img:hover {
	-webkit-filter: grayscale(100%);
}

.album-m-icons img {
    box-sizing: content-box;
    content: normal;
    display: inline-block;
    float: none;
    margin: auto;
    width: 15%;
    padding: 0 3%;
    transition: all .3s ease;
}

.album-m-icons img:hover {
    transform: scale(1.1);
}
.album-m-icons img:active {
    transform: scale(1.2);
}
/*----------------------------------LEARNING CONTENT----------------------------------*/
.m-profile {
  background-color: red;
}

/*








									!!!!!!!!!!!@MEDIA QUERIES!!!!!!!!!









*/

@media screen and (max-width: 915px) {
  p {
     margin-bottom: 2%;
  }
  .btn-box {
    margin: 3% auto;
  }
												/*Header/Nav*/

												/*Book List*/
  .creating-title, .reading-title {
    	padding: 8% 0;
  }
  .creation-title {
    padding-top: 4%;
  }
  .creation-date {
    padding-top: 1%;
  }
  .creation-video iframe {
    width: 600px;
    height: 342px;
    padding: 8% 0%;
  }
  .creation-text {
    width: 80%;
  }
  .cable-pics img {
    width: 35%;
  }
  .mbr-pics-1 img {
    width: 60%;
  }
  .mbr-pics-2 img {
    width: 30%;
  }

  .booklist img {
		width: 25%;
	}
	.my-review-pic img, .amazon img {
		width: 20%;
	}
  .my-review-pic p, .amazon p {
    padding: 0 5%;
  }
													/*Listening - Current Rave*/
	.rave-title {
    padding: 6% 0 8% 0;
  }
  .rave img {
		width: 20%;
	}
  .p-rave {
    padding: 4% 0;
  }
  .rave-m-icons {
    padding: 4% 0;
  }
  .rave-m-icons img {
    width: 8%;
    padding: 0 4%;
  }
  .playlist-title, .playlist-title-sub-1, .more-p {
    padding: 8% 0;
  }
  .playlist-title-sub-1 {
    visibility: visible;
    clear: both;
    height: inherit;
    width: inherit;
  }
  .playlist-title-sub-2 {
    visibility: hidden;
    padding: 0;
    height: 0;
    width: 0;
  }
  .playlist-1, .playlist-2 {
    width: 100%;
    padding: 0;
  }
  .scroll li {
    width: 350px;
  }
  .album-m-icons img {
    width: 15%;
  }
}


@media screen and (max-width: 645px) {
  p {
	   margin-bottom: 3%;
	}
  .btn-box {
    margin: 4% auto;
  }
												/*Header/Nav*/



												/*Creations*/
  .creation-title {
    padding-top: 8%;
    font-size: 2.5em;
  }
  .creation-date {
    font-size: 2.0em;
  }
  .creation-video iframe {
    width: 500px;
    height: 285px;
    padding: 10% 0%;
  }
  .creation-text {
    width: 90%;
  }
  .cable-pics img {
    width: 45%;
  }
  .mbr-pics-1 img {
    width: 75%;
  }
  .mbr-pics-2 img {
    width: 40%;
  }

												/*Book List*/
  .creating-title, .reading-title {
    padding: 10% 0;
  }
  .booklist img {
		width: 35%;
	}
	.my-review-pic img, .amazon img {
		width: 25%;
	}

												/*Listening - Current Rave*/
  .rave-title {
    padding: 8% 0 10% 0;
  }
  .rave img {
		width: 35%;
	}
  .rave-m-icons {
    padding: 6% 0;
  }
  .rave-m-icons img {
    width: 12%;
    padding: 0 5%;
  }
  .p-rave {
    padding: 6% 0;
  }
  .playlist-title, .playlist-title-sub-1, .more-p {
    padding: 10% 0;
  }
  .playlist-title, .playlist-title-sub-2, .albums-title, .rave-title {
    font-size: 3em;
  }
  .playlist-title-sub-1, .albums-title-sub {
    font-size: 1.8em;
  }
  .scroll li {
    width: 300px;
  }
  .album-m-icons img {
    width: 20%;
  }
}



@media screen and (max-width: 550px) {
  p {
    margin-bottom: 4%;
  }
  .btn-box {
    margin: 5% auto;
  }
											/*Header / Nav*/



											/*Creations*/
  .creation-title {
    padding-top: 10%;
  }
  .creation-video iframe {
    width: 300px;
    height: 171px;
    padding: 12% 0%;
  }
  .creation-text {
    width: 100%;
  }
  .cable-pics {
  	float: none;
  	width: 100%;
  }
  .cable-pics li {
  	display: block;
  }
  .cable-pics img {
    width: 95%;
  }
  .mbr-pics-1 img {
    width: 95%;
  }
  /*.mbr-pics-2 img {
    width: 95%;
  }*/

											/*Book List*/
  .creating-title, .reading-title {
    padding: 12% 0;
    font-size: 3em;
  }
  .booklist img {
		width: 40%;
	}
	.my-review-pic img, .amazon img {
		width: 30%;
	}
													/*Listening - Current Rave*/
  .rave-title {
    padding: 10% 0 12% 0;
  }
  .rave img {
    float: none;
    width: 60%;
  }
  .rave-m-icons {
    padding: 8% 0;
  }
  .rave-m-icons img {
    width: 12%;
    padding: 0 6%;
  }
  .p-rave {
    padding: 4% 0 8% 0;
  }
  .playlist-title, .playlist-title-sub-1, .more-p {
    padding: 12% 0;
  }
  .scroll li {
    width: 250px;
  }
  .album-m-icons img {
    width: 20%;
  }
}

@media screen and (max-width: 320px) {
  .creating-title, .reading-title, .playlist-title, .playlist-title-sub-2, .albums-title, .rave-title {
    font-size: 2.5em;
  }
  .creation-title {
    font-size: 2em;
  }

  .creation-date, .playlist-title-sub-1, .albums-title-sub {
    font-size: 1.5em;
  }
  .scroll li {
    width: 210px;
  }
  .album-m-icons img {
    width: 20%;
  }

}














/*                          RAVES                     */

.dec-2015, .nov-2015, .oct-2015 {
	padding: 2%;
	background-color: rgba(6,8,7,1);
	overflow: hidden;
	text-align: center;
}

.title-dec-2015, .title-nov-2015, .title-oct-2015 {
	font: 100 3.5em 'lato', helvetica, serif;
	text-transform: uppercase;
	text-align: center;
	color: rgba(168,178,57,1);
	padding: 4% 0 6% 0;
	letter-spacing: .125em;
}

.dec-2015 img, .nov-2015 img, .oct-2015 img {
	display: inline-block;
	float: left;
	width: 20%;
	margin: 0 3% 3% 0;
  -webkit-filter: grayscale(0%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.dec-2015 img:hover, .nov-2015 img:hover, .oct-2015 img:hover {
	-webkit-filter: grayscale(100%);
}

.dec-2015 img:active, .nov-2015 img:active, .oct-2015 img:active {
	transform: scale(1.1);
}

.dec-2015 p, .nov-2015 p, .oct-2015 p {
	font: 100 1.8em 'roboto', helvetica, serif;
  color: rgba(168,178,57,1);
	width: 100%;
}

.m-icons-dec-2015, .m-icons-nov-2015, .m-icons-oct-2015 {
  clear: left;
  overflow:hidden;
  width: 100%;
  padding: 2% 0;
}

.m-icons-dec-2015 img, .m-icons-nov-2015 img, .m-icons-oct-2015 img {
  box-sizing: content-box;
  content: normal;
  float: none;
  margin: auto;
  width: 5%;
  padding: 0 3%;
  transition: all .3s ease;
}

.m-icons-dec-2015 img:hover, .m-icons-nov-2015 img:hover, .m-icons-oct-2015 img:hover {
  transform: scale(1.1);
}

.m-icons-dec-2015 img:active, .m-icons-nov-2015 img:active, .m-icons-oct-2015 img:active {
  transform: scale(1.2);
}


/*                      Monthly Specifics               */


.oct-2015 {
  background-color: rgba( 32, 20, 42, 1);
}
.title-oct-2015, .oct-2015 p {
  color: rgba(206, 172, 207, 1);
}

.dec-2015 {
  background-color: rgba( 213, 230, 240, 1);
}
.title-dec-2015, .dec-2015 p {
  color: rgba(56,31,13,1);
}


/*                      Rave Media Queries              */


@media screen and (max-width: 915px) {

  .title-dec-2015, .title-nov-2015, .title-oct-2015 {
    padding: 6% 0 8% 0;
  }

  .dec-2015 img, .nov-2015 img, .oct-2015 img {
		width: 20%;
	}

  .m-icons-dec-2015, .m-icons-nov-2015, .m-icons-oct-2015 {
    padding: 4% 0;
  }

  .m-icons-dec-2015 img, .m-icons-nov-2015 img, .m-icons-oct-2015 img {
    width: 8%;
    padding: 0 4%;
  }

}
@media screen and (max-width: 645px) {

  .title-dec-2015, .title-nov-2015, .title-oct-2015 {
    padding: 8% 0 10% 0;
    font-size: 3em;
  }

  .dec-2015 img, .nov-2015 img, .oct-2015 img {
    width: 35%;
  }

  .m-icons-dec-2015, .m-icons-nov-2015, .m-icons-oct-2015 {
    padding: 6% 0;
  }

  .m-icons-dec-2015 img, .m-icons-nov-2015 img, .m-icons-oct-2015 img {
    width: 12%;
    padding: 0 5%;
  }

}

@media screen and (max-width: 550px) {

  .title-dec-2015, .title-nov-2015, .title-oct-2015 {
    padding: 10% 0 12% 0;
  }

  .dec-2015 img, .nov-2015 img, .oct-2015 img {
    float: none;
    width: 60%;
  }

  .m-icons-dec-2015, .m-icons-nov-2015, .m-icons-oct-2015 {
    padding: 8% 0;
  }

  .m-icons-dec-2015 img, .m-icons-nov-2015 img, .m-icons-oct-2015 img {
    width: 12%;
    padding: 0 6%;
  }

}

@media screen and (max-width: 320px) {
  .title-dec-2015, .title-nov-2015, .title-oct-2015 {
    font-size: 2.5em;
  }
}
